body {
  font-family: "Sono", sans-serif;
  background: rgb(250, 244, 225);
  color: rgb(199, 39, 103);
}
h1 {
  font-size: 30px;
}

h2 {
  font-size: 15px;
}

a {
  text-decoration: none;
}

hr {
  border: none;
  border-top: double;
}

.website-title {
  font-size: 35px;
  font-family: "Arvo", serif;
  padding-top: 15px;
  text-align: center;
}

.current-location {
  font-size: 15px;
}

.search-form {
  font-family: "Sono", sans-serif;
  padding-top: 15px;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

.weather-info {
  border: 1px solid rgba(236, 148, 84, 0.1);
  padding: 30px;
  margin: 30px auto;
  max-width: 650px;
  border-radius: 15px;
  background: rgba(236, 148, 84, 0.1);
}

.search-city-output {
  font-weight: bold;
}

.current-date {
  font-size: 15px;
  text-align: end;
}

.current-time {
  font-size: 15px;
  text-align: end;
}

.temperature {
  font-size: 85px;
  padding-top: 20px;
  font-weight: 500;
}

.current-temp {
  padding-left: 55px;
}

.units {
  position: relative;
  font-size: 20px;
  top: 25px;
  left: -5px;
  letter-spacing: -4px;
}

.celsius-link:hover,
.fahrenheit-link:hover {
  text-decoration: underline;
}

.image {
  text-align: center;
  padding-top: 10px;
}

.icon {
  width: 150px;
  height: auto;
}
.current-description {
  font-family: "Arvo", serif;
  font-size: 25px;
  font-weight: bold;
  padding-top: 10px;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 4px;
}

.feels-like,
.current-humidity,
.current-wind {
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.feels,
.humidity,
.wind {
  font-weight: bold;
}

.updated-time {
  text-align: right;
  font-size: 11px;
  padding-top: 10px;
}

.temperature .active {
  color: rgb(199, 39, 103);
  cursor: default;
}

.temperature .active:hover {
  text-decoration: none;
}

.open-source {
  font-size: 12px;
  text-align: center;
}
