body {
  font-family: "Sono", sans-serif;
  background: rgb(250, 244, 225);
  color: rgb(199, 39, 103);
}
h1 {
  font-size: 25px;
}
ul {
  font-size: 13px;
  text-align: center;
  line-height: 30px;
  padding-top: 25px;
  padding-right: 38px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.website-title {
  font-size: 30px;
  font-family: "Arvo", serif;
  padding-top: 15px;
}

.current-location {
  font-size: 15px;
}

.search-form {
  font-family: "Sono", sans-serif;
  padding-top: 15px;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

.weather-info {
  border: 1px solid rgba(236, 148, 84, 0.1);
  padding: 30px;
  margin: 30px auto;
  max-width: 600px;
  border-radius: 15px;
  background: rgba(236, 148, 84, 0.1);
}

.current-date {
  font-size: 15px;
  text-align: end;
}

.current-time {
  font-size: 15px;
  text-align: end;
}

.temperature {
  font-size: 85px;
  padding-top: 20px;
  font-weight: 500;
}

.current-temp {
  text-align: center;
  margin-left: 20px;
}

.units {
  position: relative;
  font-size: 20px;
  top: 25px;
  left: -5px;
}

.celsius-link:hover,
.fahrenheit-link:hover {
  text-decoration: underline;
}

.image {
  text-align: center;
  padding-top: 15px;
}

.icon {
  width: 150px;
  height: auto;
}
.current-description {
  font-family: "Arvo", serif;
  font-size: 18px;
  padding-top: 8px;
  text-transform: capitalize;
}

.updated-time {
  text-align: right;
  font-size: 11px;
}

.temperature .active {
  color: rgb(199, 39, 103);
  cursor: default;
}

.temperature .active:hover {
  text-decoration: none;
}
